body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-rectangle{
    width:250px;
    height:200px;
    background-color:#e90404;
    color: #fff;
    font-size:32px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #eee;
}